.nav-title {
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.nav {
  overflow: hidden;
  background-color: rgba(82, 113, 255, 1);
  margin-bottom: 1em;
}

.Mynav-link {
  /* float: center; */
  color: white;
  background-color: rgba(82, 113, 255, 1);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.Mynav-link:hover {
  color: black;
}

.nav-right {
  float: right;
}